  
  body {
    background-image: url("img/login-bg.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  form {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    padding: 50px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  label {
    font-size: 16px;
    color: white;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
  }
  
  input[type="submit"] {
    background-color: #af4ca5;
    color: white;
    padding: 12px 110px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create, .create a {
    color: white;
  }
  
  .button {
    justify-content: center;
    display: flex;
  }
  
  h1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  
  .forgot {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
  }
  
  .create {
    font-size: 16px;
  }
  
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
